{% extends 'first_app/base.html' %}
{% block body_block %}
<h3>Index Page</h3>

<h4>Musician List</h4>

{{ list }}

<ul>
    {% if listofmusician %}
        {% for musician in listofmusician %}  
            <li><a href="{% url 'first_app:album_list' artist_id=musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></li>
        {% endfor %}
    {% else %}
        <h4>No Musician is available in the list</h4>
    {% endif %}    
</ul>
{% if user.is_authenticated %}
    <p>Hi {{ user_basic_info.username }},</p>
    <p>Your email: {{ user_basic_info.email }}</p>
    <img src="/media/{{ user_more_info.profile_pic }}" alt="">
    
    <p><a href="{{ user_more_info.facebook_id }}">Facebook Profile</a></p>
{% else %}
    <div class="alert alert-primary">You are not logged in!</div>
{% endif %}

<h1>I am from project templates folder</h1>

{% endblock %}