{% extends "first_app/base.html" %}

{% load static %}

{% load HTML_filter %}

{% block body_block %}

    <h2>Musician Details:</h2>

    <p>{{ musician.first_name }} {{ musician.last_name }}</p>
    <p>{{ musician.instrument }}</p>

    <h2>Album:</h2>
    <ul>
        {% for album in musician.album_list.all %}
        <li>{{ album.name }}</li>
        {% endfor %}
    </ul>

    <a class="btn btn-warning" href="{% url 'first_app:update_signer' pk=musician.pk %}">UPDATE INFO</a>
    <a class="btn btn-danger" href="{% url 'first_app:delete_signer' pk=musician.pk %}">DELETE INFO</a>
    
{% endblock %}